{% extends "::base.html.twig" %}

{% trans_default_domain 'AppBundle' %}

{% block title %}{{ 'task.list.title' | trans }}{% endblock %}

{% block content %}
<h3>{{ 'task.list.header' | trans }}</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{{ 'task.id' | trans }}</th>
      <th>{{ 'task.client' | trans }}</th>
      <th>{{ 'task.taskType' | trans }}</th>
      <th>{{ 'task.taskStatus' | trans }}</th>
      <th>{{ 'task.falla' | trans }}</th>
      <th>{{ 'task.priceFull' | trans }}</th>
      <th>{{ 'task.list.edit' | trans }}</th>
      <th>{{ 'task.list.delete' | trans }}</th>      
    </tr>
  </thead>
	{% for task in task %}
  <tbody>
    <tr>
      	<td><a href="{{ path('show_task',{'id': task.getId }) }}">{{  task.getId }}</a></td>
      	<td><a href="{{ path('show_client',{'id': task.client.getId }) }}">{{  task.getClient }}</a></td>
    	<td>{{  task.getTaskType }}</td>
    	<td>{{  task.getTaskStatus }}</td>
    	<td>{{  task.getFalla }}</td>
    	<td>€{{  task.getPriceFull }}</td>
    	<td><a href="{{ path('edit_task',{'id': task.getId }) }}"<span class="glyphicon glyphicon-edit"></span></a></td>
    	<td><a href="{{ path('delete_task',{'id': task.getId }) }}"<span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
  </tbody>  
{% endfor %}
</table>
{% endblock %}
